.table-view{
  -fx-background-color: #ffffff;
}
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #ffffff;
    -fx-font-size: 20;
    -fx-alignment: CENTER;
}
.table-view .column-header .label{
   -fx-text-fill: #00796b;
   -fx-font-size: 16;
   -fx-font-weight: bold;
   -fx-alignment: CENTER;
}
.table-view .cell{
  -fx-cell-size: 58;
  -fx-font-size: 16;
  -fx-alignment: CENTER;
  -fx-background-color: #ffffff;
  -fx-border-color: #ffffff;
  -fx-text-fill: #00796b;
  -fx-alignment: CENTER;
}
.table-row-cell:hover:selected {
   -fx-background-color: #304ffe;
   -fx-text-background-color:  red;
}
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;
}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive( white,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( white,90%);
	-fx-background-insets: 2, 0, 0, 0;
	-fx-background-radius: 2em;
}
.list-cell{
    -fx-background-color:  #1e88e5;
    -fx-border-color: #c5cae9;
    -fx-font-size: 2em;
    -fx-text-fill: black;
}
.list-cell:pressed {
    -fx-fill: linear-gradient(to left, #9c1017, #8f0042);
}
.list-cell:hover:selected {
    -fx-border-color: #c5cae9;
    -fx-background-color: #00796b;
}
.submit:hover:selected{
    -fx-background-color: red;
}
.exit:hover:selected:focus{
    -fx-color: red;
}
#customerFilter {
    -fx-background-image: url('image/search.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
}
#customerFilter .paragraph-box .paragraph-text {
    -fx-padding: 5px;
}